<main>
    <section id="hero-area">
        <div class="login-wrapper">
            <h1>Break out of the norm &amp;<br>Try something new!</h1> 
            <div class="login-form">
                <form action="/login" method="POST">
                    <label for="name">Name:</label>
                    <input id="name" type="text" name="name">
                    <label for="email">email:</label>
                    <input id="email" type="text" name="email">
                    <label for="password">Password:</label>
                    <input id="password" type="text" name="password">
                    <br>
                    <br>
                    <button id="submit" type="submit">Log In</Button>
                </form>       
            </div>
            <h3>Would you like to Sign Up instead?</h3>
            <a href="/signup">Yes, I would!</a>
        </div><!--Login Wrapper Ends Here-->
        </section>
        
</div>
