<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>TheHappyGoalsApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600/Nunito+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/main.css" />
    
  </head>
  <body>
    
    <div class="wrapper">
    
      <%= yield %>

      <footer class="branding">
      <% if logged_in? %>
      
      <form action="/sessions/logout" method="GET">
      <h4><button actionid="submit" type="submit">Log Out</Button></h4>
      </form>
      <% end %>
      <br>
      <h5>By letting go of who you are, <span>You Become who You Could Be!</span></h5>
        <h6>&copy; 2020 <strong>HappyGoalsApp</strong></h6>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </body>
</html>
